

html {
    scroll-behavior: smooth;
  }

  

html, body {
    overflow-x: hidden;
  }

  body {
    background-color: #fef5e1;
    margin: 0px;
    font-family: "Roboto Flex", sans-serif;
  }

  a {
    font-family: "Roboto Flex", sans-serif;
  }

  p a {
    text-decoration: none;
    color: darkgreen;
    font-weight: bold;
  }

  p a:hover {
    text-shadow: 1px 1px 2px rgba(0, 100, 0, 0.306);  
  }

  .nav-tab {
    display: none;
  }
  
  .navbar {
    width: 100%;
    background-color: rgb(11, 34, 17);
    overflow: auto;
  }
    
.navbar a {
    float: left;
    text-align: center;
    padding: 10px 50px;
    margin-left: 50px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-top: 90px;
    margin-bottom: 62px;
  }
  
  .nav-left a:hover {
    color: #FFFFC5;
    transform: scale(1.1); /* Increase the size by 30% on hover */

  }
  .nav-right a:hover {
    color: #FFFFC5;
    transform: scale(1.1); /* Increase the size by 30% on hover */

  }
  
  .active {
    color: #f8e111;
  }

  .nav-centered img {
 
    float: none;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 175px;
    height: auto;
  }
  
  .nav-right {
    float: right;
    margin-right: 50px;
    text-align: center;
  }
 
  .header {
    display: none;
  }

  .nav-tabimg {
    display: none;
  }

/* Centered section inside the top navigation */
/*.nav-centered a {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } 

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */


/* Logo */
.logo img{
  display: inline-block;
  transform: translate(30%, 5%);
  width: 100%;
  max-width: 150px;
  height: auto;

.nav{
  width: 100%;
  height: 50%;
  position: fixed;
  background-color: rgb(11, 34, 17);
  color: white;
  overflow: hidden;

}
.menu a{
  display: block;
  padding: 20px;
  text-align: center;
  color: white;
  font-size: 15px;
}

/* Define the slide animation */
@keyframes slideIn {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Apply the animation to the menu items */
.side-menu:checked~nav .menu a {
  animation: slideIn 0.5s forwards;
}

.menu a:hover{
  color: #f1bb0c;
}
.nav{
  max-height: 0;
  transition: max-height .5s ease-out;
}
/* Menu Icon */
.hamb{
  cursor: pointer;
  float: right;
  padding: 55px 80px;
}/* Style label tag */



.hamb-line {
  background: white;
  display: block;
  height: 2px;
  position: relative;
  width: 24px;

} /* Style span tag */

.hambline-text {
  font-size: 15px;
  text-align: center;
  transform: translate(-150%, -50%);
  position: absolute;
  
}

.hamb-line::before,
.hamb-line::after{
  background: white;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}
.hamb-line::before{
  top: 5px;
}
.hamb-line::after{
  top: -5px;
}

.side-menu {
  display: none;
} /* Hide checkbox */
/* Toggle menu icon */
.side-menu:checked ~ nav{
  max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line {
  background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
  transform: rotate(-45deg);
  top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
  transform: rotate(45deg);
  top:0;
}

}

h1 {
    color: white;
    background-color:#f1bb0c;
    font-size: 60px;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 2px;
    font-weight: 400;
    text-align: center;
    text-shadow:
    -1px -1px 0 #000, 
    1px -1px 0 #000, 
    -1px 1px 0 #000, 
    1px 1px 0 #000; 
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 50px;
    padding-bottom: 50px;
    border: 1px solid #be950c;
    /* Multiple shadows create a sense of depth */
    box-shadow: 
      /* Subtle outer glow */
      0 4px 8px rgba(0, 0, 0, 0.2),
      /* A stronger shadow on one side for directionality */
      4px 4px 10px rgba(0, 0, 0, 0.3),
      /* Optional: subtle inner shadow */
      inset 0 0 5px #be950c
}

.hero_container {
    display: inline-flexbox;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 100%;

  }
  
.hero_container img{
  max-width: 100%;
  height: auto;   
  }

  .youth_hero_img img{
    display: inline-flexbox;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;  
  }

  .hero_text {
    display: inline-flexbox;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    
  }
  
.hero_text h2 {
    font-size: 40px;
    margin-bottom: -40px;
  }

p {
    font-size: 20px;
    font-family: "Roboto Flex", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.hero_p {
  line-height: 1.3;
  letter-spacing: 1.1px;
  text-wrap: pretty;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;

}

.content_1 {
    margin-bottom: 50px;
    margin-top: 150px;
    padding-top: 30px;
    padding-bottom: 50px;
  
}
h2 {
    color:#000;
    font-size: 40px;
    font-family: "Special Gothic Condensed One", sans-serif;
    font-weight: bolder;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.content1_img {
    display: grid;
    place-items: center;
}

.row {
    display: block;
    text-align: center;
    margin-top: 100px;

  }
  
  .column {
    padding: 50px;  
    text-align: center;
}

#column2 {
  background: white;
}

#button1 {
  background-color: #FFFFFF;
  color: #000;
}

.button {
    display: inline-block;
    border-radius: 6px;
    background-color: #f1bb0c;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
  
.row_button {
    margin-top: 100px;
}

#myBtn {
/* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #555555c7; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 15px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

.resourceList p {
  margin: 10px 50px 50px 50px;
}

.partnerList {
  overflow-wrap: break-word;

}

.partnerList li {
  text-align: center;
  color: black;
  font-size: 20px;
  font-family: 'Segoe UI';
  line-height: 2;

}

.partnerList h2 {
  padding-bottom: 0px;
}


.partner_img-wide {
  max-height: 8rem;
  max-width: 12rem;
  padding-bottom: 2rem;
  padding-top: 1rem;
}

.partner_img {
  max-height: 6rem;
  max-width: 12rem;
  padding-bottom: 2rem;
}

/*Do we need to just link to the websites to each of these people or give brief information about them?*/

footer a,li{
    list-style:none;
    text-decoration:none;
    color:white;
    
    
  }
  footer{
    background:rgb(11, 34, 17);
    max-height: none;
    min-height: 20vh;


  }
  footer .footerrow{
    display:flex;
    justify-content:space-between;
    font-size:15px;
    font-family: 'Helvetica Neue';
    padding-bottom: 10px;
  
  }

  footer a:hover {
    color: #FFFFC5;
    transform: scale(1.1); 
  }
  
  .footer-nav{
      display:flex;
      margin: 0px;
      
  }
  .footer-nav li{
    margin:60px 20px 40px 2px ;
  }
  .social-links li{
    margin:50px 45px 40px 0px ;
  }
  .social-links{
      display:flex;
  }
  
.copyright p {
    display:flex;
    justify-content:center;
    color:white;
    font-size: 12px;
    font-family: 'Helvetica Neue';
    margin: 0px;
    padding-top: 30px;
  }


  .slideshow-container {
    max-width: 100%;
    display: inline-flexbox;
    margin: auto;
    box-sizing:border-box
  }

  .slideshow-container2 {
    max-width: 50%;
    display: inline-flexbox;
    margin: auto;
    box-sizing: border-box;
  }


  .mySlides {
    display: none;
  }

  .myIndexSlides {
    display: none;
  }

  #slide1 {
    display: contents;
    margin-top: 50px;
  }

.slide-story {
  margin: 10px 50px 10px 50px;
}

.myIndexSlides img {
  max-height: 500px;
  width: auto;
}

.mySlides img {
  max-height: 500px;
  width: auto;
}

  .prev, .next {
    cursor: pointer;
    position: absolute;
    width: auto;
    margin-top: -22px;
    padding: 20px;
    color: rgb(11, 34, 17);
    font-weight: bold;
    font-size: 24px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
  }


  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  

  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .roadmap {
    width: 100%;
    height: auto;
  }


  .contact-section {
    width: 100%;
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
    padding: 3rem 1rem;
  }
  
  .contact-intro > * + * {
    margin-top: 1rem;
  }
  
  .contact-title {
    line-height: 2.25rem;
    font-weight: 700;
  }
  
  .contact-description {
    color: rgb(107 114 128);
  }
  
  .form-group-container {
    display: grid;
    gap: 1rem;
    margin-top: 2rem;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  .form-label {
    margin-bottom: 0.5rem;
  }
  
  .form-input,
  .form-textarea {
    padding: 0.5rem;
    border: 1px solid #e5e7eb;
    display: flex;
    height: 2.5rem;
    width: 100%;
    border-radius: 0.375rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  
  .form-input::placeholder,
  .form-textarea:focus-visible {
    color: #6b7280;
  }
  
  .form-input:focus-visible,
  .form-textarea:focus-visible {
    outline: 2px solid rgb(11, 34, 17);
    outline-offset: 2px;
  }
  
  .form-textarea {
    min-height: 120px;
  }
  
  .form-submit {
    width: 100%;
    margin-top: 1.2rem;
    background-color: rgb(11, 34, 17);
    color: #fff;
    padding: 13px 5px;
    border-radius: 0.375rem;
  }

  .form-submit:hover {
    background-color: darkgreen;
  }

 

  @media screen and (max-width: 500px) {

  
    footer a, li{
      font-size:12px;
    
    }
    
    .footer-nav{
        display:flex;
        margin: 0px;
        
    }
    .footer-nav li{
      margin:45px 25px 40px 2px ;
    }
    .social-links li{
      margin:45px 45px 40px 2px ;
    }
  
  .copyright p {
    text-align: center;
      font-size: 10px;
  
    }

    #padding-bottom {
      margin-bottom: -30px;
    }
  
  }
  
  @media screen and (max-width: 780px) {
  
    .navbar {
      display:none;
    }
  
    .header {
      display: block;
      background-color: rgb(11, 34, 17);
      color: white;
      box-shadow: 1px 1px 5px 0px var(--gray);
      position: relative;
      top: 0;
      width: 100%;
      
    }
  /* Reset */
  *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }
  
  a{
      text-decoration: none;
  }
  ul{
      list-style: none;
  }
  
  /* Logo */
  .logo img{
    display: inline-block;
    transform: translate(30%, 5%);
    width: 100%;
    max-width: 150px;
    height: auto;
  }
  .nav{
    width: 100%;
    height: 50%;
    position: fixed;
    background-color: rgb(11, 34, 17);
    color: white;
    overflow: hidden;
  
  }
  .menu a{
    display: block;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 18px;
  }
  
  /* Define the slide animation */
  @keyframes slideIn {
    from {
      transform: translateY(-100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  /* Apply the animation to the menu items */
  .side-menu:checked~nav .menu a {
    animation: slideIn 0.5s forwards;
  }
  
  .menu a:hover{
    color: #f1bb0c;
  }
  .nav{
    max-height: 0;
    transition: max-height .5s ease-out;
  }
  /* Menu Icon */
  .hamb{
    cursor: pointer;
    float: right;
    padding: 95px 80px;
  }/* Style label tag */
  
  
  
  .hamb-line {
    background: white;
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
  
  } /* Style span tag */
  
  .hambline-text {
    font-size: 22px;
    text-align: center;
    transform: translate(-150%, -50%);
    position: absolute;
    
  }
  
  .hamb-line::before,
  .hamb-line::after{
    background: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  .hamb-line::before{
    top: 5px;
  }
  .hamb-line::after{
    top: -5px;
  }
  
  .side-menu {
    display: none;
  } /* Hide checkbox */
  /* Toggle menu icon */
  .side-menu:checked ~ nav{
    max-height: 100%;
  }
  .side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
  }
  .side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
  }
  .side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
  }
  
  body:has(.side-menu:checked) {
  overflow: hidden;
  }
  
  button#myBtn {
    span {
      &::before {
        content: "";
        display: block;
      }
    }
    padding: 10px; /* Some padding */
      font-size: 15px; /* Increase font size */
  }
  
  
  
  }
  
  @media screen and (min-width: 781px) and (max-width: 900px) {
  
  .nav-left {
    display: none;
  }
  .nav-right {
    display: none;
  
  }
  
  .nav-tab {
    display: block;
  }
  
  .nav-tab a {
    display: block;
    text-align: center;
    padding: 10px 5px 0px 0px;;
    margin: 70px 35px 0px 10px;
    font-size: 15px;
    float: right;
  
  }
  
  .nav-tabimg  {
  
    display: block;
  }
  
  
  .nav-tabimg img {
    height: 175px;
    width: 150px;
    float: none;
    position: absolute;
    transform: translate(-50%, -50%);
  
  }
  
  .nav-centered {
    display: none;
  }
  
  .social-links {
    margin:0px 45px 40px 2px ;
  }
  
  }
  
  @media screen and (min-width: 901px) and (max-width: 1024px) {
  
    .navbar {
      padding-bottom: 20px;
    }
  
    .nav-left a {
      font-size: 15px;
      text-align: center;
      padding: 10px 0px 0px 0px;
      margin: 70px 35px 0px 60px;  }
  
    .nav-right a {
      font-size: 15px;
      text-align: center;
      padding: 10px 0px 0px 0px;
      margin: 70px 35px 0px 10px;
    
    }
  }
  
  @media (min-width: 1024px) {
  
    .hero_container {
      display: flex;
      background-color: white;
      width: 100%;
      flex-direction: row;
  
    }
    
  .hero_image {
      float: left;
      width: 50%;
      display: inline-flexbox;
    }
  
    .hero_text {
      display: flex;
      flex-flow: column nowrap;
      align-items: right;
      justify-content: right;
      width: 50%;
  
    }
    
  .hero_h2 {
      font-size: 40px;
      padding-bottom: 40px;
    }
  
  .flex-outer {
    display: flex;
    width: 100%;
    flex-direction: row;
    
  }
  
    .row {
      display: flex;
    }

  
    .column {
      float: left;
      width: 50%;
      display: inline-flexbox;
      
  
    }
  
  #column2 {
      float: right;
      width: 50%;
      display: inline-flexbox;
    }
  
    footer a {
      font-size: 20px;
      padding: 20px;
    }
  
    .social-links li{
      padding:0px 50px 0px 0px ;
    }
  
  
  }


@media screen and (max-width: 400px) {

  .header {
    display: block;
    background-color: rgb(11, 34, 17);
    color: white;
    box-shadow: 1px 1px 5px 0px var(--gray);
    position: relative;
    top: 0;
    width: 100%;
    
  }
}

@media screen and (min-width: 1025px) and (max-width: 1337px) {

  .navbar {
    padding-bottom: 20px;
  }

  .nav-left a {
    font-size: 20px;
    text-align: center;
    padding: 10px 0px 0px 0px;
    margin: 70px 35px 0px 60px;  }

  .nav-right a {
    font-size: 20px;
    text-align: center;
    padding: 10px 0px 0px 0px;
    margin: 70px 35px 0px 10px;
  
  }

.nav-centered img {

  float: none;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 175px;
  height: auto;

}

.row{
  flex-direction:column;
}

}

#contactForm {
  border-radius: 5px;
  padding: 20px;
  margin: 50px 150px 50px 150px;
  font-size: 18px;
  color: black;
}

input {
  width: 100%;
  padding: 10px 18px;
  margin: 8px 0;
}

textarea {
  width: 100%;
  height: 150px;
  resize: none;
}

input[type=submit] {
  border: none;
  color: white;
  background-color: rgb(11, 34, 17);
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;

}

input[type=submit]:hover {
  background-color: #555;
}

.aboutsection p {
  margin: 10px 50px 50px 50px;
}

.parentstatement p {
  margin: 10px 50px 50px 50px;
  font-family: "Bad Script", cursive;
  font-style: normal;
  font-weight: lighter;
  font-size: 25px;
}


.parentstatement h2 {
  text-align: left;
  margin: 10px 50px 10px 50px;

}

.modules p {
  margin: 10px 50px 50px 50px;
}

.modules h2 {
  text-align: left;
  margin: 10px 50px 10px 50px;
}

.modules a {
  margin-left: 10px;
}

#buttonsrow {
  background-color: #f1bb0c;
  margin-bottom: 100px;
  border: 1px solid #ccc;
  /* Multiple shadows create a sense of depth */
  box-shadow: 
    /* Subtle outer glow */
    0 4px 8px rgba(0, 0, 0, 0.2),
    /* A stronger shadow on one side for directionality */
    4px 4px 10px rgba(0, 0, 0, 0.3),
    /* Optional: subtle inner shadow */
    inset 0 0 5px rgba(255, 255, 255, 0.5)
}